:root {
    --color-background: #202022;
    --color-black: #212121;
    --color-black-heavy: #000;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #f28705;
    --color-secondary: #ffa726;
    --color-yellow: #fabb0d;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
}


.page-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.div-imgLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.imgLogo {
    width: 80%;
    max-width: 100%;
}

.card {
    padding: 20px;
    border-radius: 17px;
    width: 65%;
    max-width: 30rem;
    height: 17rem;
    text-align: center;
    box-shadow: 0px 5px 5px var(--color-text-out);
    margin-bottom: 3rem;
    background-color: var(--color-white);
}

.form-group {
    margin-bottom: 28px;
    margin-top: 1rem;
}

.input-form {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--color-separate);
}


.forgot-password {
    cursor: pointer;
    margin-top: 5px;
    font-size: 12px;
    color: var(--color-black);
}

.forgot-password:hover {
    color: var(--color-primary);
}

label {
    display: flex;
    margin-left: 1rem;
    color: var(--color-black-heavy);
}

.login {
    margin-top: 15px;
}

.buttonAcess {
    padding: 10px;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

svg.svg-inline--fa.fa-eye-slash {
    left: 88%;
    position: absolute;
    top: 30%;
    cursor: pointer;
}

svg.svg-inline--fa.fa-eye {
    left: 88%;
    position: absolute;
    top: 30%;
    cursor: pointer;
}

.buttonAcess:hover {
    opacity: 0.9;
}

input#username.p-inputtext.p-component {
    border-radius: 0.5rem;
    border: 2px solid var(--color-separate);
}

input, button, select, optgroup, textarea {
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 2.5rem;
    padding: 0.7rem;
}